#include "locale/keys_de.h"

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    /* Row 1 */ &kp ESC   &kp F1  &kp F2  &kp F3  &kp F4   &kp F5  &kp F6  &kp F7  &kp F8   &kp F9  &kp F10 &kp F11 &kp F12 &kp PSCRN &kp SLCK &kp PAUSE_BREAK
    /* Row 2 */ &kp DE_DEGREE &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp DE_SHARP_S &kp DE_GRAVE &kp BSPC &kp INS &kp HOME &kp PG_UP
    /* Row 3 */ &kp TAB &kp Q &kp W &kp E &kp R &kp T &kp Z &kp U &kp I &kp O &kp P &kp LBKT &kp RBKT &kp RET &kp DEL &kp END &kp PG_DN
    /* Row 4 */ &kp CLCK &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &kp SEMI &kp SQT &kp NUHS &kp RSHIFT 
    /* Row 5 */ &kp LSHFT &kp NUBS &kp Y &kp X &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp DOT &kp MINUS &kp RSHIFT &kp UP
    /* Row 6 */ &kp LCTRL &kp LGUI &kp LALT &kp DE_SPACE &kp RALT &kp DE_LESS_THAN &kp RCTRL &kp LEFT &kp DOWN &kp RIGHT
            >;
        };

        layer1 { status = "reserved"; };
        layer2 { status = "reserved"; };
        layer3 { status = "reserved"; };
        layer4 { status = "reserved"; };
        layer5 { status = "reserved"; };
        layer6 { status = "reserved"; };
        layer7 { status = "reserved"; };
    };

    behaviors {
        trans: transparent { display-name = "_Trans"; };
        none: none { display-name = "Key(None)"; };
        mo: momentary_layer { display-name = "Layer Momentary"; };
        to: to_layer { display-name = "Layer To"; };
        tog: toggle_layer { display-name = "Layer Toggle"; };
        bootloader_reset: bootloader_reset {
            compatible = "zmk,behavior-hold-tap";
            display-name = "RESET";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <3000>;
            bindings = <&bootloader>, <&sys_reset>;
        };
    };
};
